.git
.gitignore
.docker-secrets
Canary-local/.docker-secrets
data
docs
logs
Canary-backend
Canary-worker
scripts
**/.git
**/node_modules
Canary-frontend/node_modules
Canary-frontend/dist
Canary-frontend/dist-ssr
